.container {
    background-color: black;
    height: 50px;
    border-bottom: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}