.image {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    height: auto;
    opacity: 0.1;
    transform: all 1s;

}

.image:hover,
.open:hover {
    opacity: 0.5;
    transition: all 1s;
}

.open {
    position: absolute;
    transform: rotateZ(45deg);
    transition: all 5s;
    opacity: 1;
    height: auto;
    top: 100;
    left: 100px;
    right: 100px;
}